@import "_variables";

.title-section {
    text-align: center;
    color: #E3E3E3;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

    &.roadmap-landing {
      margin-bottom: 0;

    }
}

img.img-bg {
    display: inline-block;
    position: absolute;
}

h1.title-section-meet {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $dark-1;

  @media (min-width: 321px) and (max-width: $small) {
    font-size: 26px;
  }

  @media (max-width: 320px) {
    font-size: 22px;
    line-height: 30px;
  }
}

p.text-banner {
  margin-top: 1.5rem;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #e3e3e3;
}

p.detail-section-meet {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.015em;
  color: $dark-1;
  text-transform: none;
}