@import "_variables";

/** FILTER **/

.btn-filter {
    border: 2px solid $light-2;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: $dark-1;
}

.btn-filter-active {
    color: $dark-1;
    background-color: $light-1;
    border: 2px solid $yellow;
    border-radius: 26px;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

.btn-filter, .btn-filter-active {
  border-radius: 26px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 2;
  margin-right: 13px;
}

.btn-filter:hover, .btn-filter-active:hover {
    background-color: $light-1;
    text-decoration: none;
    color: $dark-1;
}

.btn-filter span, .btn-filter-active span {
    padding: 0.375rem 0.75rem;
    align-items: center;
    background: $light-1;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    font-size: 16px !important;
    font-weight: 700;
}

.btn-filter:hover span, .btn-filter-active:hover span {
  text-decoration: none;
  background: transparent;
}

div.custom-dropdown-filter {
  display: none !important;
}

.row.filter-my-profile {
    font-weight: 700;
    font-size: 16px !important;
    color: $dark-2;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  div {
    &#filter-top {
      display: none !important;
    }

    &.custom-dropdown-filter {
      display: block !important;
    }

    &#activity-filter {
      flex: 0 0 50%;
      max-width: 50%;

      &.col-4.text-right {
        line-height: 22px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  div {
    &#filter-top {
      display: none !important;
    }

    &.custom-dropdown-filter {
      display: block !important;
    }

    &.tabs.my-profile div ul li.nav-item .nav-link {
      font-size: 4.4vw !important;
      margin-right: 20px;
    }

    &.profile-title h1.title-my-profile {
      font-size: 7.5vw !important;
    }
  }
}