@import "_variables";

#claim-btn.btn-primary,
#redeem-btn.btn-primary,
#sec-claim-btn.btn-primary,
#sec-redeem-btn.btn-primary,
#buy-btn.btn-primary,
#preorder-btn.btn-primary {
    border-color: transparent !important;
    padding: 0.7rem !important;
    border: 0;
}

.tab-content > .tab-pane > div.row {
    margin-bottom: 20px;
}

//backgound image card
.bg-image-new {
    padding: 30% 6%;
}

.bg-img {
    /* Light1 */
    background: $light-1;
    border-radius: 16px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

/** CARD **/
.card-collection,
.card-wishlist {
    font-weight: 700;
    background-color: $white-bg !important;
    padding: 20px;
    border: 1px solid $white-bg;
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.05);
    border-radius: 18px;

    & .card-claim-in{
        color: $light-grey-2 !important;
        font-size: 1.05vw;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
    }
    & .card-title {
        color: $dark-1 !important;
        font-size: 18px;
        line-height: 24px;

    }

    & .card-price,
    & .price-bot {
        color: $yellow !important;
        font-size: 1.19vw;
        line-height: 24px;
    }

    & .card-claim-in-time {
        color: $dark-1 !important;
        font-size: 1.05vw;
        line-height: 22px;
    }
}

.card-collection > img:first-child,
.card-wishlist > img:first-child {
    border-radius: 20px;
    // height: 261px;
}

.card-collection .card-body .card-text:first-child,
.card-wishlist .card-body .card-text:first-child {
    border-bottom: 1px solid #525252;
}

.card-wishlist .card-body .card-text .progress {
    margin-bottom: 10px;
}

.card-collection .card-body,
.card-wishlist .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.currency-price {
    width: 1.5vw;
    height: auto;
    vertical-align: bottom;
    top: -2px;
    position: relative;
}

@media (min-width: 1400px){

    .card-claim-in,
    .card-claim-in-time{
        font-size: 15px !important;
    }
    .card-price,
    .price-bot {
        font-size: 16px !important;
    }

}

@media (max-width: 1160px) {

    .card-claim-in,
    .card-claim-in-time{
        font-size: 0.83vw !important;
        & p{
          margin-bottom: 0;
        }
    }
    .card-price,
    .price-bot {
        font-size: 0.85vw !important;
    }


}

@media (max-width: 991px) {
    .bg-image-new {
        min-height: 248px;
    }

    .card-claim-in,
    .card-claim-in-time{
        font-size: 1.8vw !important;
        & p{
            margin-bottom: 1rem;
          }
    }
    .card-price,
    .price-bot {
        font-size: 18px !important;
    }
    .currency-price {
        width: 24px !important;
    }
}

@media (max-width: 767px) {
    .card-claim-in,
    .card-claim-in-time{
        font-size: 15px !important;
        & p{
            margin-bottom: 1rem;
          }
    }
}

@media (max-width: 376px) {
    .card-claim-in,
    .card-claim-in-time{
        font-size: 3.5vw !important;
        & p{
            margin-bottom: 0;
          }
    }
    .card-price,
    .price-bot {
        font-size: 3.6vw !important;
    }
}

@media (max-width: 480px) {
    .bg-image-new {
        min-height: unset;
    }
}

// .card-collection .card-body .card-text .card-title,
// .card-wishlist .card-body .card-text .card-title,
// .card-collection .card-body .card-text .card-price,
// .card-wishlist .card-body .card-text .card-price {
//     font-size: 18px;
//     font-weight: 36px;
//     font-weight: bold;
// }

// .card-collection .card-body  .card-text .card-claim-in,
// .card-wishlist .card-body .card-text .card-claim-in,
// .card-wishlist .card-body .card-text .card-end-in,
// .card-wishlist .card-body .card-text .card-start-in,
// .card-wishlist .card-body .card-text .card-total-sales {
//     color: $light-grey-2 !important;
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 400;
// }

// .card-collection .card-body .card-text .card-claim-in-time,
// .card-wishlist .card-body .card-text .card-end-in-time,
// .card-wishlist .card-body .card-text .card-start-in-time {
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 600;
//     color: #E3E3E3;
// }
